<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :first_name %>		
	<%= f.input :second_name %>
	<%= f.input :third_name %>
	<%= f.association :gender, collection: Gender.all() %>	
	<%= f.input :special_rights %>
	<%= f.input :сп_возврата %>		
	<%= f.button :submit %>
<% end %>
</div>
</div>