<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :full_time, as: :boolean %>
	<%= f.input :correspondence, as: :boolean %>
	<%= f.input :part_time, as: :boolean %>
	
	<%= f.button :submit %>
<% end %>
</div>
</div>