<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :state, collection: Educationform.states.keys%>
	  <%= f.simple_fields_for :financingform do |p| %>
      <%= p.input :budget, as: :boolean %>
      <%= p.input :paid, as: :boolean %>
      <%= p.input :paid_budg, as: :boolean %>
    <% end %>
    <%= f.button :submit %>
<% end %>
</div>
</div>
