<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :state, collection: Educationform.states.keys, label: "Форма обучения"%>
	  <%= f.simple_fields_for :financingform do |p| %>
      <%= p.input :budget, as: :boolean, label: "Бюджет" %>
      <%= p.input :paid, as: :boolean, label: "Платное" %>
      <%= p.input :paid_budg, as: :boolean, label: "Контракт" %>
    <% end %>
    <%= f.button :submit, "Сохранить" %>
<% end %>
<%= button_to "Далее",  new_priority_path, :class => "btn btn-default btn-lg", :method => :get %>
</div>
</div>