<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>

	<%= f.association :specialization, collection: Specialization.all(), label: "1 приоритет" %>
	<%= f.association :specialization, collection: Specialization.all(), label: "2 приоритет" %>
	<%= f.association :specialization, collection: Specialization.all(), label: "3 приоритет" %>	


	<%= f.button :submit,  "Далее" %>
<% end %>
</div>
</div>