<div class="row">
<div class="col-md-offset-4 col-md-4">
<% if signed_in? %>
	<list>
		<h4>Удостоверение личности </h4>
		<li><b>Оригинал:</b><%= " #{@user.identify.original}" %></li>
		<li><b>Тип удостоверения личности:</b> <%= " #{@user.identify.type}" %></li>
		<li><b>Страна:</b><%= " #{@user.identify.country}" %></li>
		<li><b>Серия:</b><%= " #{@user.identify.series}" %></li>
		<li><b>Номер:</b><%= " #{@user.identify.number}" %></li>
		<li><b>Подразделение:</b><%= " #{@user.identify.unit}" %></li>
		<li><b>Когда:</b><%= " #{@user.identify.where}" %></li>
		<li><b>Кем выдан:</b><%= " #{@user.identify.issued_by}" %></li>
		<li><b>Дата рождения:</b><%= " #{@user.identify.birthday}" %></li>
		<li><b>Место рождения:</b><%= " #{@user.identify.birth_place}" %></li>
		<li><b>Адрес:</b><%= " #{@user.identify.address}" %></li>
	</list>
	<br>
	<list>
		<h4>Персональные данные </h4>
		<li><b>Фамилия:</b><%= " #{@user.personaldoc.first_name}" %></li>
		<li><b>Имя:</b><%= " #{@user.personaldoc.second_name}" %></li>
		<li><b>Отчество:</b><%= " #{@user.personaldoc.third_name}" %></li>
		<li><b>Пол:</b><%= " #{@user.personaldoc.gender}" %></li>
		<li><b>Специальные права:</b><%= " #{@user.personaldoc.special_rights}" %></li>
		<li><b>Сп_возврата:</b><%= " #{@user.personaldoc.сп_возврата}" %></li>
	</list>
	<br>
	<list>
		<h4>Образовательный документ </h4>
		<li><b>Оригинал:</b><%= " #{@user.education.original}" %></li>
		<li><b>Серия:</b><%= " #{@user.education.series}" %></li>
		<li><b>Номер:</b><%= " #{@user.education.number}" %></li>
		<li><b>Когда:</b><%= " #{@user.education.where}" %></li>
		<li><b>ВУЗ:</b><%= " #{@user.education.university}" %></li>
		<li><b>Тип образовательного документа:</b><%= " #{@user.education.etype}" %></li>
	</list>
	<br>
	<list>
		<h4>Результаты ЕГЭ </h4>
		<li><b>Оригинал:</b><%= " #{@user.unifiedexam.original}" %></li>
		<li><b>Год:</b><%= " #{@user.unifiedexam.year}" %></li>
		<li><b>Номер:</b><%= " #{@user.unifiedexam.number}" %></li>
		<li><b>Русский:</b><%= " #{@user.unifiedexam.russian}" %></li>
		<li><b>Математика:</b><%= " #{@user.unifiedexam.math}" %></li>
		<li><b>Физика:</b><%= " #{@user.unifiedexam.physics}" %></li>
		<li><b>Обществознание:</b><%= " #{@user.unifiedexam.social_science}" %></li>
	</list>
	<br>
	<list>
		<h1>Форма обучения и финансирования</h1>
		<li><b>Форма обучения:</b><%= " #{@user.educationform}" %></li>
		<li><b>Форма финансирования:</b><%= " #{@user.financingform}" %></li>
	</list>
	<br>
	<list>
		<h1>Приоритет специальностей</h1>
		<li><b>1:</b><%= " #{@user.specialization}" %></li>
		<li><b>2:</b><%= " #{@user.specialization}" %></li>
		<li><b>3:</b><%= " #{@user.specialization}" %></li>
	</list>
<%end%>
</div>
</div>