<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>

	<%= f.input :first, collection: Specialization.all(),group_method: :title, value_method: :title, label: "1 приоритет" %>
	<%= f.input :second, collection: Specialization.all(),group_method: :title, value_method: :title, label: "2 приоритет" %>
	<%= f.input :third, collection: Specialization.all(),group_method: :title, value_method: :title, label: "3 приоритет" %>	


	<%= f.button :submit,  "Далее" %>
<% end %>
</div>
</div>