<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :original, as: :boolean, checked_value: true, unchecked_value: false, label: "Оригинал" %>
	<%= f.association :etype, collection: Etype.all(), label: "Тип образовательного документа" %>		
	<%= f.input :series, label: "Серия" %>
	<%= f.input :number, label: "Номер" %>
	<div class="input-group" >
		<%= f.input  :where, as: :email, input_html:{class:"form-control date_pick"} , label: "Когда выдан" %>
	</div>
	<%= f.input :university, label: "Образовательное учреждение" %>
	<%= f.button :submit, "Далее" %>
<% end %>
</div>
</div>