<div class="row">
<div class="col-md-offset-4 col-md-4">
<%= simple_form_for @doc do |f| %>
	<%= f.input :original, as: :select %>
	<%= f.association :etype, collection: Etype.all() %>		
	<%= f.input :series %>
	<%= f.input :number %>
	<div class="input-group" >
		<%= f.input  :where, as: :text, input_html:{class:"form-control date_pick"}%>
	</div>
	<%= f.input :university %>
	<%= f.button :submit %>
<% end %>
</div>
</div>