
<%= simple_form_for @doc do |f| %>
	<%= f.input :original, as: :boolean, checked_value: true, unchecked_value: false %>
	<%= f.association :etype, collection: Etype.all() %>		
	<%= f.input :series %>
	<%= f.input :number %>
	<div class="input-group" >
		<%= f.input  :where, as: :email, input_html:{class:"form-control date_pick"}%>
	</div>
	<%= f.input :university %>
	<%= f.button :submit %>
<% end %>
